:host {
  height:100%;

  & .sidebar-wrapper {
    position:relative;
    margin:0;
    padding:0;
    height:100%;
    width:240px;
    float:left;

    & .sidebar {
      overflow:auto;
      border-right:1px solid #d3d3d3;
      height:inherit;
      position:fixed;
      width:inherit;
      & h4 {
        text-align:left;
        padding-left:20px;
      }
    }
  }

  & ul {
    list-style:none;
    padding-left:15px;
    line-height:1.5rem;
    & li {
      padding:5px;
      text-align:left;

      & a{
        display:block;
        cursor:pointer;
        color:green;
        text-decoration:none;
      }
      &.active a{
        color:#000;
        font-weight:600;
      }
    }
  }
  & .page{
    padding:40px;
    margin-left:240px;
    margin-top:64px;
  }
  & .sidebar-background{
    display:none;
    position:fixed;
    top:0;
    opacity: 0;
    width:100%;
    height:100%;
    z-index:19999;
    transition: opacity 5s linear;
  }
  & .background-shadow{
    position:fixed;
    top:62px;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.67843);
    z-index:20000;
  }
  & .open {
    display:block !important;
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  @media (max-width:576px){

    & .sidebar-wrapper{
      position:fixed;
      top:62px;
      z-index:99999;
      background-color:#fff;
      left: 0;
      transform: translateX(-100%);
      transition: transform 300ms ease-out;
    }

    & .page{
      margin-left:0;

      & .sidebar-toggle{
        display:block;
      }
    }

  }
  @media (min-width:576px){
    & .sidebar-wrapper{
      position:relative;
    }
    & .sidebar-toggle{
      display:none;
    }
  }

  @media (min-width:768px){
    & .sidebar-wrapper{
        position:relative;
    }
  }
  @keyframes wiggle {
  0% {
    transform: opacity 0;
  }
  50% {
    transform: opacity 0.5;
  }
  100% {
    transform: opacity 1;
  }
}
}
